matplotlib==3.5.1
matplotlib-inline==0.1.3
PyYAML==6.0
pyserial==3.5
PIPython==2.6.0.1
pretty-errors==1.2.25
nidaqmx==0.5.7
tifffile==2021.11.2
scipy==1.7.3
pyusb==1.2.1
pandas==1.3.5
pandastable==0.12.2.post1
opencv-python==4.5.5.62
numpy==1.22.0
scikit-image==0.19.1
tensorflow==2.8.0
cupy-cuda112==10.2.0
protobuf==3.20.*
zarr==2.11.3

